.bundle-header {
    color: #032e61;
    border-bottom: 2px solid #f3a847;
    padding-bottom: 0.25rem;
}

.slds-badge_lightest {
    background-color: #ecf6e7;
    color: #2e844a;
    font-weight: 600;
}
